extends ./templates/base.pug

block content
    div(class="bg-image")
    div(class="container mt-5 bg-text")
        div(class="p-5 mb-4 bg-light rounded-3")
            div(class="container-fluid py-5")
                h1(class="display-4 border-bottom border-primary") Hi, I'm Justin ...
                p and i love infrastructure. I have a passion for building infrastructure, solving issues and seeing people thrive using new tech.